.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#body {
    overflow: hidden;
    float:right;
    border: 1px solid grey;
}
#node_list {
    float:left;
}
#nodes{
    width: 300px;
}
